@page
@model IndexModel
@{
    ViewData["Title"] = "Dic";
}

<h1>Index</h1>

<p>
    <p>Find Music</p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].MusicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Music[0].Band)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Music) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MusicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Band.BandId)
            </td>
        </tr>
}
    </tbody>
</table>